# macOS
.DS_Store

# Xcode build artifacts
build/
DerivedData/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/

# Xcode user-specific files
*.xcuserstate
*.xcuserdatad/
xcuserdata/
*.xcscmblueprint
*.xccheckout

# Swift Package Manager
.swiftpm/
.build/
Packages/
Package.resolved

# CocoaPods / Carthage (por si acaso)
Pods/
Carthage/Build/

# Editores
*.swp
*~.nib
